@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css);

* {
  color: white;
}

html,
body {
  height: 100%;
}

.bg-red {
  background-color: #e27b67;
}

.session {
  width: 340px;
  height: 340px;
}

.action {
  cursor: pointer;
  user-select: none;
}
